In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading the dataset
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset[['charges']]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
             'max_features':['auto','sqrt','log2'],
             'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit= True, verbose = 3,n_jobs=-1)

grid.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [9]:
#print the best paramter after tuning
#print(grid.best_params_)

re=grid.cv_results_
print("The R_score value for best paramter {}:".format(grid.best_params_))

The R_score value for best paramter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.022362,0.007465,0.012175,0.006119,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.684086,0.445210,0.747786,0.622167,0.663646,0.632579,0.102084,6
1,0.056402,0.036537,0.000000,0.000000,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.663689,0.700212,0.719849,0.506528,0.642029,0.646462,0.075064,2
2,0.034699,0.030246,0.006250,0.007655,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.648944,0.522120,0.621591,0.662632,0.617759,0.614609,0.049189,9
3,0.028222,0.011717,0.012578,0.006293,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.565220,0.588197,0.635017,0.578929,0.336572,0.540787,0.104769,18
4,0.031928,0.020787,0.009457,0.007723,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.565067,0.329871,0.625210,0.582663,0.606058,0.541774,0.107900,16
5,0.023759,0.007098,0.007653,0.006995,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.621453,0.535787,0.597122,0.563662,0.618064,0.587218,0.032929,13
6,0.057890,0.006524,0.009374,0.007654,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.664322,0.575986,0.699815,0.586039,0.629844,0.631202,0.046680,8
7,0.033626,0.004573,0.004027,0.006055,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.609513,0.694615,0.627939,0.653752,0.633793,0.643922,0.029012,4
8,0.037656,0.012629,0.007854,0.006989,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.579287,0.538116,0.482687,0.533098,0.626782,0.551994,0.048355,15
9,0.023153,0.007364,0.007854,0.006989,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.498899,0.536062,0.714360,0.610185,0.579294,0.587760,0.073717,12
10,0.028199,0.006081,0.010278,0.006700,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.525320,0.636534,0.656546,0.586745,0.627989,0.606627,0.046581,10
11,0.022038,0.007692,0.009372,0.007652,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.660896,0.649187,0.711934,0.604457,0.591212,0.643537,0.043073,5
12,0.017727,0.004208,0.001104,0.002208,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.677861,0.491389,0.758996,0.651981,0.643556,0.644757,0.086858,3
13,0.013602,0.007130,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.642176,0.638051,0.687815,0.605461,0.587122,0.632125,0.034565,7
14,0.015826,0.000405,0.003124,0.006247,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.714914,0.630771,0.663441,0.599859,0.624263,0.646650,0.039710,1
15,0.015382,0.000301,0.003124,0.006247,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.623796,0.438486,0.579663,0.652284,0.604532,0.579753,0.074526,14
16,0.012684,0.006346,0.003124,0.006249,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.567402,0.567089,0.687214,0.623730,0.570952,0.603277,0.047128,11
17,0.011260,0.006210,0.006229,0.007629,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.556607,0.596366,0.585798,0.385909,0.581786,0.541293,0.078781,17

In [12]:
age_input=float(input("age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children"))
sex_male_input=int(input("sex male 0 r 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

age:20
BMI:43
children2
sex male 0 r 1:1
smoker yes 0 or 1:0

In [13]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(Future_Prediction))

future_prediction=[3693.428]

C:\Users\ADMIN\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"