In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading the dataset
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset[['charges']]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
             'max_features':['auto','sqrt','log2'],
             'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit= True, verbose = 3,n_jobs=-1)

grid.fit(indep,dep)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ADMIN\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [8]:
#print the best paramter after tuning
#print(grid.best_params_)

re=grid.cv_results_
print("The R_score value for best paramter {}:".format(grid.best_params_))

The R_score value for best paramter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:

In [9]:
table=pd.DataFrame.from_dict(re)

In [10]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.022037,0.007691,0.009375,0.007654,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.707507,0.673698,0.725248,0.742519,0.680796,0.705954,0.026020,2
1,0.015300,0.000642,0.007854,0.006988,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.723276,0.648378,0.718163,0.715179,0.710497,0.703099,0.027673,3
2,0.021955,0.005866,0.007851,0.006986,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.703733,0.554021,0.743142,0.706860,0.724211,0.686394,0.067665,11
3,0.015624,0.000005,0.006248,0.007652,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.700495,0.649222,0.702523,0.683764,0.699775,0.687156,0.020119,9
4,0.013979,0.002009,0.013406,0.004443,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.729453,0.627033,0.774237,0.629620,0.675619,0.687193,0.057325,8
5,0.017723,0.004209,0.004227,0.006084,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.657369,0.618251,0.736018,0.674170,0.746916,0.686545,0.048499,10
6,0.065942,0.006291,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.738303,0.638031,0.716837,0.728601,0.750669,0.714488,0.039816,1
7,0.056486,0.007688,0.003124,0.006248,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.713252,0.576872,0.753263,0.685401,0.742188,0.694195,0.063242,4
8,0.043906,0.006335,0.009372,0.007652,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.708246,0.628161,0.530438,0.736128,0.789865,0.678567,0.090625,13
9,0.031390,0.000228,0.006248,0.007652,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.658962,0.484828,0.615424,0.728275,0.579410,0.613380,0.081194,18
10,0.047028,0.010776,0.003103,0.006206,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.716403,0.659952,0.662038,0.700082,0.724282,0.692551,0.026931,5
11,0.031409,0.000203,0.003125,0.006251,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.645126,0.645831,0.608370,0.713018,0.735813,0.669632,0.047291,15
12,0.015622,0.000002,0.006247,0.007651,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.708750,0.643206,0.724295,0.708175,0.652654,0.687416,0.032891,6
13,0.013102,0.006654,0.005727,0.007063,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.708586,0.634245,0.687228,0.674999,0.709391,0.682890,0.027604,12
14,0.017506,0.003987,0.007654,0.006995,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.707775,0.538205,0.687164,0.702642,0.713070,0.669771,0.066350,14
15,0.013904,0.003443,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.660381,0.511784,0.697920,0.753403,0.707012,0.666100,0.082649,16
16,0.009574,0.007410,0.009254,0.007559,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.709581,0.610236,0.755166,0.655685,0.705710,0.687276,0.049758,7
17,0.012497,0.006249,0.006330,0.007754,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.686069,0.562773,0.761440,0.702999,0.572213,0.657099,0.077377,17

In [ ]:
age_input=float(input("age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children"))
sex_male_input=int(input("sex male 0 r 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(Future_Prediction))